.ksqlDb_details_streams_details {
    .framework {
        margin-top: 40px;
    }
    .action {
        margin-top: 40px;
        .query_stream_box {
            @include btn_style;
            margin-right: 15px;
        }
        .delete_stream_box {
            @include danger_btn_style;
        }
    }
}

.delete_stream_model {
    .delete_stream {
        margin-top: 15px;
        @include form_item(inline-block, 80px);
    }
}