.theme {
    .theme_title {
        line-height: 40px;
    }
    .theme_content {
        padding-top: 20px;
        .actions {
            margin-bottom: 30px;
            .switch_box {
                padding-top: 3px;
            }
            .add_theme_box {
                float: right;
            }
        }
    }
}