.consume_backward {
    padding-top: 20px;
    @include ant_card;
    .set_warning {
        overflow: auto;
        margin-bottom: 15px;
        button {
            float: right;
        }
    }
    .prefix_icon {
        font-size: 20px;
    }
    .suffix_icon {
        font-size: 30px;
        color: $theme_color;
        margin-left: 10px;
    }
    .chart_data {
        .chart_data_item {
            margin-bottom: 30px;
        }
    }
    .consumer_table {
        margin-top: 60px;
    }
}