.theme_overview {
    padding-top: 20px;
    @include left_ant_card;
    .card_data_list {
        display: flex;
        justify-content: space-between;
        .item {
            float: left;
        }
    }
    .search_input_box {
        margin-top: 70px;
    }
    .part_tatle {
        margin-top: 20px;
    }
}