.agent_details {
    .agent_title {
        line-height: 40px;
    }
    .agent_details_cards {
        padding-top: 10px;
        .delete_agent {
            overflow: auto;
            margin-bottom: 20px;
            @include danger_btn_style;
            .ant-btn-primary {
                float: right;
            }
        }
        @include ant_card;
        .card_data_list {
            display: flex;
            justify-content: space-between;
            .item {
                float: left;
            }
        }
    }
}