.agent {
    .agent_title {
        line-height: 40px;
    }
    @include ant_card;
    .card_data_list {
        display: flex;
        justify-content: space-between;
        .item {
            float: left;
        }
    }
    .search_input_box {
        margin-top: 70px;
    }
    .agent_tatle {
        margin-top: 20px;
    }
}