.connection_details {
    .connection_title {
        line-height: 40px;
    }
    .connection_details_cards {
        padding-top: 10px;
        .add_connection {
            overflow: auto;
            margin-bottom: 20px;
            @include btn_style;
            .ant-btn-primary {
                float: right;
            }
        }
        @include left_ant_card;
        .card_data_list {
            display: flex;
            justify-content: space-between;
            .item {
                float: left;
            }
        }
    }
}