.action {
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: auto;
    .switch_box {
        float: left;
    }
    .broker_id {
        float: right;
        margin-left: 60px;
    }
    .edit_btn {
        float: right;
        @include btn_style;
    }
    .download_btn {
        float: right;
        margin-left: 20px;
        @include btn_style;
    }
}

.description_list {
    .item {
        span {
            display: inline-block;
        }
    }
}