.agent_default {
    .action {
        margin-top: 20px;
        margin-bottom: 30px;
        overflow: auto;
        .broker_id {
            float: right;
            margin-left: 50px;
        }
        .edit_btn {
            float: right;
        }
        .download_btn {
            float: right;
            margin-left: 20px;
        }
    }
    .description_list {
        .item {
            span {
                display: inline-block;
            }
        }
    }
}