.ksqlDb_details_flow {
    padding-top: 30px;
    .search_input_box {
        margin-bottom: 30px;
    }
    .flow_content {
        .ant-row {
            width: calc(100% + 30px);
        }
        @include top_ant_card;
    }
}

.ksqlDb_details_flow_drawer {
    .flow_drawer_tabs {
        margin-top: 30px;
    }
}