.add_connection {
    .page_title {
        line-height: 40px;
    }
    .connection_content {
        padding-top: 30px;
        .step_form {}
        .step_process {
            .ant-steps-item-content {
                width: calc(100% - 30px);
                .ant-steps-item-title {
                    font-size: 14px;
                }
            }
        }
    }
}