.overview {
    .overview_title {
        line-height: 40px;
    }
    .overview_content {
        padding-top: 20px;
        @include ant_card;
        .card_data_list {
            display: flex;
            justify-content: space-between;
            .item {
                float: left;
            }
        }
    }
}