.cluster {
    height: calc(100vh - #{$header_height});
    overflow-y: auto;
    .side_nav_wrap {
        float: left;
        width: $side_nav_width;
        .side_nav {
            padding-top: 30px;
            height: calc(100vh - #{$header_height});
            background-color: #0d1040;
            .cluster_name {
                color: #fff;
                line-height: 40px;
                padding-left: 24px;
            }
        }
    }
    .cluster_content {
        float: left;
        padding: 30px 100px;
        width: calc(100% - #{$side_nav_width});
    }
}