$theme_color: #333fff; // 主题色
$gray_color: #646464; // 灰色值
$header_height: 60px;  // 顶部导航栏的高度
@mixin form_item($display, $label_width) {
    // 表单控件中label和表单的排列样式
    .ant-form-item-label {
        display: $display;
        width: $label_width;
        text-align: left;
        label {
            color: $gray_color;
        }
    }
    .ant-form-item-control-wrapper {
        display: $display;
    }
}

@mixin btn_style {
    // 按钮样式
    .ant-btn-primary {
        background-color: $theme_color;
    }
}

@mixin tabs_style {
    // tabs标签页切换
    .ant-tabs {
        .ant-tabs-tab {
            font-weight: 900;
            &:hover {
                color: $theme_color;
            }
        }
        .ant-tabs-tab-active {
            color: $theme_color;
        }
        .ant-tabs-ink-bar {
            background-color: $theme_color;
        }
    }
}