$theme_color: #333fff; // 主题色
$gray_color: #646464; // 灰色值
@mixin form_item($display, $label_width) {
    // 表单控件中label和表单的排列样式
    .ant-form-item-label {
        display: $display;
        width: $label_width;
        text-align: left;
        label {
            color: $gray_color;
        }
    }
    .ant-form-item-control-wrapper {
        display: $display;
    }
}

@mixin btn_style {
    .ant-btn-primary {
        background-color: $theme_color;
    }
}